.InputForm {
  width: 400px;
  margin-bottom: 30px;
}

.contactInfoInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "firstName lastName"
  "phoneNumber email"
  "address address";
}
.firstNameInput {
  grid-area: firstName;
}
.lastNameInput {
  grid-area: lastName;
}
.phoneNumberInput {
  grid-area: phoneNumber;
}
.emailInput {
  grid-area: email;
}
.addressInput {
  grid-area: address;
}


.deleteButton {
  grid-area: delete;
}


.workExperienceContainer {
  /* display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px; */
}
.workExperienceInput {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "job company"
  "location dates"
  "responsibilities responsibilities"
  "delete delete";
}
.jobTitleInput{
  grid-area: job;
}
.companyNameInput {
  grid-area: company;
}
.locationInput {
  grid-area: location;
}
.datesEmployedInput {
  grid-area: dates;
}
.responsibilitiesInput {
  grid-area: responsibilities;
}


.educationInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "university university"
  "date degree"
  "major gpa"
  "delete delete";
}
.universityInput {
  grid-area: university;
}
.degreeInput {
  grid-area: degree;
}
.majorInput {
  grid-area: major;
}
.gpaInput {
  grid-area: gpa;
}
.graduationDateInput {
  grid-area: date;
}


.skills {

}
.websites {
  
}
