.InputForm {
  width: 400px;
  height: 1122.52px;
  overflow-y: auto;
}

.contactInfoInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "firstName lastName"
  "phoneNumber email"
  "address address";
}
.firstNameInput {
  grid-area: firstName;
}
.lastNameInput {
  grid-area: lastName;
}
.phoneNumberInput {
  grid-area: phoneNumber;
}
.emailInput {
  grid-area: email;
}
.addressInput {
  grid-area: address;
}

.autofillbuttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.deleteButton {
  grid-area: delete;
}

.addContentButton {
  width: 50%;
}


.projectsInput {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "projectName"
  "languages"
  "location"
  "description"
  "delete";
}
.projectNameInput {
  grid-area: projectName;
}
.languagesInput {
  grid-area: languages;
}
.projectLinkInput {
  grid-area: location;
}
.descriptionInput {
  grid-area: description;
  resize: vertical;
}

.workExperienceContainer {

}
.workExperienceInput {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "job company"
  "location dates"
  "responsibilities responsibilities"
  "delete delete";
}
.jobTitleInput{
  grid-area: job;
}
.companyNameInput {
  grid-area: company;
}
.locationInput {
  grid-area: location;
}
.datesEmployedInput {
  grid-area: dates;
}
.responsibilitiesInput {
  grid-area: responsibilities;
  resize: vertical;
}


.educationInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "university university"
  "date degree"
  "major gpa"
  "delete delete";
}
.universityInput {
  grid-area: university;
}
.degreeInput {
  grid-area: degree;
}
.majorInput {
  grid-area: major;
}
.gpaInput {
  grid-area: gpa;
}
.graduationDateInput {
  grid-area: date;
}


.skills {

}

.websitesInput {
}
